.home-banner{

}
.home-banner .banner{
    background-color: #0e1d2c;
    padding: 60px 0px;
}
.home-banner h2{
    font-size: 30px;
    color: #eb5757;
    font-weight: 600;
    margin: 30px 0px 10px;
}
.home-banner h1{
    font-size: 100px;
    color: #fff;
    font-weight: 700;
}
.home-banner p{
    font-size: 20px;
    color: #fff;
    margin-bottom: 30px;
}
.home-banner .button{
    font-size: 16px;
    box-shadow: none;
    padding: 15px 25px;
    background-color: #51c185;
    border: none;
    font-weight: 500;
}

.home-banner .button:hover{
    background-color: #eb5757;
}

.home-banner span{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin: 0px 25px;
}

.section_heading{
    font-size: 35px;
    font-weight: 600;
    color: #0e1d2c;
}

.section_desc{
    font-size: 18px;
    color: #3e5061;
}

.home-banner .image{
    max-width: 480px;
    float: right;
}

.choose_careshare_section{
    padding: 60px 0 100px;
}

.choose_careshare_section .step_blocks_wrap{
    display: flex;
}

.choose_careshare_section .step_blocks_wrap .single_block{
    background-color: #0e1d2c;
    padding: 30px 40px;
    color: #fff;
}

.choose_careshare_section .step_blocks_wrap .single_block.pink{
    background-color: #eb5757;
}

.choose_careshare_section .step_blocks_wrap .single_block.green{
    background-color: #51c185;
}

.choose_careshare_section .step_blocks_wrap .single_block h3{
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.25;
}

.choose_careshare_section .step_blocks_wrap .single_block ul{
    margin-left: 20px;
    min-height: 150px;
}
.choose_careshare_section .step_blocks_wrap .single_block li{
    line-height: 1.5;
    font-size: 15px;
}

.choose_careshare_section .step_blocks_wrap .single_block .step_img{
    max-height: 150px;
    float: right;
}

.package_section{
    background-color: #f2f5f8;
    padding: 60px 0 70px;
}

.package_section .packages_wrap{
    display: flex;
    justify-content: space-between;
}

.package_section .packages_wrap .single_package{
    background-color: #fff;
    width: calc(25% - 22.2px);
    padding: 30px 30px 35px;
    border-radius: 10px;
    text-align: center;
}

.package_section .packages_wrap .single_package .title{
    font-size: 18px;
    font-weight: 700;
    color: #3e5061;
    margin-bottom: 20px;
}

.package_section .packages_wrap .single_package .price{
    font-size: 28px;
    font-weight: 700;
    color: #eb5757;
}

.package_section .packages_wrap .single_package .price_cut{
    font-size: 28px;
    font-weight: 300;
    color: #eb5757;
    text-decoration: line-through;
    margin-bottom: 20px;
}

.package_section .packages_wrap .single_package .btn-primary{
    background-color: #51c185;
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 16px;
    box-shadow: none;
}

.package_section .packages_wrap .single_package .btn-primary:hover{
    background-color: #eb5757;
}

.package_section .feature_list{
    margin-top: 40px;
    list-style: none;
}

.package_section .feature_list li{
    font-size: 20px;
    color: #3e5061;
    line-height: 1.754;
    position: relative;
    padding-left: 30px;
}

.package_section .feature_list li img{
    position: absolute;
    left: 0;
    top: 9px;
}

.section_desc .inline-logo{
    width: 210px;
    margin-top: -7px;
}

.hospital_section{
    padding: 60px 0 70px;
}

@media (min-width:800px) {
    .choose_careshare_section .step_blocks_wrap .single_block{
        border-radius: 8px 0 0 8px;
        flex: 0 0 27%;
        transition: all .3s;
    }
    .choose_careshare_section .step_blocks_wrap .single_block.active{
        flex: 0 0 46%;
    }
    .choose_careshare_section .step_blocks_wrap .single_block ul{
        max-height: 150px;
        /* overflow: hidden; */
    }
    .choose_careshare_section .step_blocks_wrap .single_block.pink{
        margin-left: -8px;
    }
    .choose_careshare_section .step_blocks_wrap .single_block.green{
        margin-left: -8px;
        border-radius: 8px;
    }
}

@media (max-width:800px) {
    .home-banner .banner{
        padding: 50px 0px;
    }
    .home-banner h2{
        font-size: 22px;
        margin: 0;
    }
    .home-banner h1{
        font-size: 60px;
    }
    .home-banner p{
        font-size: 17px;
    }
    .home-banner p br{
        display: none;
    }
    .home-banner .button{
        font-size: 14px;
        padding: 10px 15px;
    }

    .home-banner .image{
        width: 100%;
        margin-top: 30px;
    }
    .choose_careshare_section .step_blocks_wrap{
        flex-direction: column;
    }

    .section_heading{
        font-size: 30px;
    }

    .section_desc{
        font-size: 16px;
    }

    .section_desc br{
        display: none;
    }

    .choose_careshare_section{
        padding: 40px 0;
    }

    .package_section .packages_wrap{
        flex-wrap: wrap;
    }

    .package_section .packages_wrap .single_package{
        width: 100%;
        margin-bottom: 20px;
    }

    .package_section .feature_list{
        margin-top: 10px;
    }

    .package_section .feature_list li{
        font-size: 18px;
    }

    .package_section{
        padding: 40px 0;
    }

}
