.home-banner{
    background-size: cover !important;
}
.home-banner .banner{
    /* background-color: #0e1d2c; */
    background: linear-gradient(90deg, rgba(2,0,36,0.5) 0%, rgba(0,0,0,0.1) 50%);
    padding: 90px 0px;
}
.home-banner h2{
    font-size: 30px;
    color: #eb5757;
    font-weight: 600;
    margin: 30px 0px 10px;
}
.home-banner h1{
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    max-width: 630px;
    line-height: 1.2;
    /* text-shadow: 0 0 15px #a1a1a1; */
    margin-bottom: 20px;
}
.home-banner p{
    font-size: 20px;
    color: #fff;
    margin-bottom: 50px;
    max-width: 630px;
    line-height: 1.3;
    font-weight: 500;
    /* text-shadow: 0 0 15px #a1a1a1; */
}
.home-banner .button{
    font-size: 16px;
    box-shadow: none;
    padding: 15px 25px;
    background-color: #51c185;
    border: none;
    font-weight: 500;
}

.home-banner .button:hover{
    background-color: #eb5757;
}

.home-banner span{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin: 0px 25px;
    text-shadow: 0 0 15px #a1a1a1;
}

.section_heading{
    font-size: 35px;
    font-weight: 600;
    color: #0e1d2c;
}

.section_desc{
    font-size: 18px;
    color: #3e5061;
}

.home-banner .image{
    max-width: 480px;
    float: right;
}

.choose_careshare_section{
    padding: 60px 0 100px;
}

.choose_careshare_section .step_blocks_wrap{
    display: flex;
    flex-wrap: wrap;
}

.choose_careshare_section .step_blocks_wrap .single_block{
    /* background-color: #0e1d2c; */
    padding: 30px 25px;
    /* color: #fff; */
    color: #686868;
}

.mobileWraper{
    border: 12px solid #2e2e2e;
    width: 280px;
    max-height: 520px;
    min-height: 520px;
    overflow: hidden;
    border-radius: 35px;
    border-top-width: 16px;
    border-bottom-width: 15px;
    position: relative;
}

.mobileWraper::before{
    content: "";
    display: inline-block;
    width: 142px;
    height: 18px;
    background-color: #2e2e2e;
    position: absolute;
    left: 57px;
    border-radius: 0 0 30px 30px;
    z-index: 9;
}
.mobileWraper-overlay{
    content: "";
    display: inline-block;
    background: linear-gradient(0deg, rgba(2,0,36,0.5) -64%, rgba(0,0,0,0) 69%);
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 210px;
    z-index: 9;
}

.choose_careshare_section .step_blocks_wrap .single_block.pink{
    background-color: #eb5757;
}

.choose_careshare_section .step_blocks_wrap .single_block.green{
    background-color: #51c185;
}

.choose_careshare_section .step_blocks_wrap .single_block h3{
    /* font-size: 30px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.25; */
    font-size: 20px;
    /* color: #fff; */
    /* font-weight: 700; */
    /* text-transform: uppercase; */
    /* line-height: 1.25; */
    margin-bottom: 8px !important;
}

.choose_careshare_section .step_blocks_wrap .single_block ul{
    margin-left: 20px;
}
.choose_careshare_section .step_blocks_wrap .single_block li{
    line-height: 1.75;
    font-size: 14px;
}

.choose_careshare_section .step_blocks_wrap .single_block .step_img{
    max-height: 150px;
    float: right;
}

.section_grey{
    background-color: #f2f5f8;
    padding: 60px 0 70px;
}

.package_section .packages_wrap{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.package_section .packages_wrap .single_package{
    background-color: #fff;
    width: calc(25% - 22.2px);
    min-width: 262px;
    padding: 30px 30px 35px;
    border-radius: 10px;
    text-align: center;
    margin-right:25px;
}

.package_section .packages_wrap .single_package .title{
    font-size: 18px;
    font-weight: 700;
    color: #3e5061;
    margin-bottom: 20px;
}

.package_section .packages_wrap .single_package .price{
    font-size: 28px;
    font-weight: 700;
    color: #eb5757;
}

.package_section .packages_wrap .single_package .price_cut{
    font-size: 28px;
    font-weight: 300;
    color: #eb5757;
    text-decoration: line-through;
    margin-bottom: 20px;
}

.package_section .packages_wrap .single_package .btn-primary{
    background-color: #51c185;
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 16px;
    box-shadow: none;
}

.package_section .packages_wrap .single_package .btn-primary:hover{
    background-color: #eb5757;
}

.package_section .feature_list{
    margin-top: 40px;
    list-style: none;
}

.package_section .feature_list li{
    font-size: 24px;
    color: #3e5061;
    line-height: 1.754;
    position: relative;
    padding-left: 65px;
    margin-bottom: 20px;
}

.package_section .feature_list li img{
    position: absolute;
    left: 0;
    /* top: 9px; */
    max-width: 45px;
}

.section_desc .inline-logo{
    width: 210px;
    margin-top: -7px;
}

.hospital_section{
    padding: 60px 0 120px;
}

.hospital_section .row_wrap{
    margin-bottom: 40px !important;
}

.hospital_section .slick-custom-dots{
    bottom: -60px;
}

.hospital_section .slick-custom-dots li button:before{
    font-size: 13px;
}

.hospital_section .slick-custom-dots li.slick-active button:before{
    color: #51c185;
}

.hospital_section .slick-arrow{
    display: none !important;
}

.hr_line{
    height: 1px;
    width: 100%;
    background-color: #cbcbcb;
}

.warriors_section{
    padding: 60px 0 70px;
}

.warriors_section .row_wrap{
    margin-bottom: 50px;
}

.warriors_section .warrior_wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.warriors_section .warrior_wrap .single_warrior{
    position: relative;
    max-width: 330px;
    padding-left: 66px;
}

.warriors_section .warrior_wrap .single_warrior h3{
    font-size: 17px;
    font-weight: 700;
    color: #0e1d2c;
    margin-bottom: 20px;
}

.warriors_section .warrior_wrap .single_warrior p{
    font-size: 14px;
    color: #3e5061;
    font-style: italic;
    line-height: 1.75;
}

.warriors_section .warrior_wrap .single_warrior .comma_icon{
    position: absolute;
    width: 55px;
    left: 0;
    top: 0;
}

.warriors_section .warrior_wrap .single_warrior .user_wrap img{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    box-shadow: 0 0 6px 3px #c3c3c3;
}

.warriors_section .warrior_wrap .single_warrior .user_wrap{
    margin-top: 25px;
    font-size: 17px;
    color: #0e1d2c;
}

.warriors_section .warrior_wrap .single_warrior h4{
    font-size: 14px;
    margin-top: 20px;
}

.warriors_section .help_link{
    margin-top: 40px;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
    color: #eb5757;
    text-align: center;
    display: block;
}

.video_section .btn-primary{
    font-size: 13px;
    box-shadow: none;
    padding: 15px 45px;
    background-color: #51c185;
    border: none;
    font-weight: 500;
}

.video_section .btn-primary:hover{
    background-color: #eb5757;
}

.hospitalLogo{
    height:150px;
    display: flex !important;
}

.logoWraper{
    display: flex !important;
    background-color: #fff;
    flex-direction: column;
    max-width: 200px;
    margin: auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 7px 13px 2px #c5c3c3;
    margin-bottom: 20px;
    max-height: 280px;
}

.logoWraper .imageWrap{
    height: 160px;
    overflow: hidden;
}

.logoWraper .imageWrap img{
    width: 100%;
    max-height: 200px !important;
    min-height: 160px;
}

.doctorName{
    font-size: 17px;
    line-height: 1;
    min-height: 42px;
}

.doctorDesc{
    font-size: 13px;
    line-height: 1;
}
.choose_careshare_section .step_blocks_wrap .single_block.active{
    /* flex: 0 0 100%; */
    background-color: #51c185;
    color: #fff;
}

.choose_careshare_section .step_blocks_wrap .single_block.active h3{
    color: #fff;
}
.choose_careshare_section .step_blocks_wrap .single_block{
    border-radius: 15px;
    flex: 0 0 100%;
    transition: all .3s;
}

.download_section{
    background: #fff url(/images/download-section-bg.png) no-repeat;
    padding: 80px 0;
    background-position: center top;
    background-size: cover;
}

.download_section h2{
    color: #fff;
    text-shadow: 0 0 15px #918c8c;
}

.download_btn{
    background-color: #51c185;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    padding: 12px 20px 10px;
    border-radius: 25px;
}

.download_btn:hover{
    background-color: #eb5757;
}

@media (min-width:800px) {


    .choose_careshare_section .step_blocks_wrap .single_block ul{
        /* max-height: 150px; */
        /* overflow: hidden; */
    }
    .choose_careshare_section .step_blocks_wrap .single_block.pink{
        margin-left: -8px;
    }
    .choose_careshare_section .step_blocks_wrap .single_block.green{
        margin-left: -8px;
        border-radius: 8px;
    }
}

@media (max-width:800px) {
    .home-banner .banner{
        padding: 50px 0px;
    }
    .home-banner h2{
        font-size: 22px;
        margin: 0;
    }
    .home-banner h1{
        font-size: 22px;
        margin-bottom: 10px;
    }
    .home-banner p{
        font-size: 24px;
        margin-bottom: 30px;
    }
    .home-banner p br{
        display: none;
    }
    .home-banner .button{
        font-size: 14px;
        padding: 10px 9px;
    }
    .home-banner span{
        margin: 0 15px;
    }

    .home-banner span{
        width: 30px;
    }

    .home-banner .image{
        width: 100%;
        margin-top: 30px;
    }
    .choose_careshare_section .step_blocks_wrap{
        flex-direction: column;
    }

    .section_heading{
        font-size: 30px;
    }

    .section_desc{
        font-size: 16px;
    }

    .section_heading br,
    .section_desc br{
        display: none;
    }

    .choose_careshare_section{
        padding: 40px 0;
    }

    .package_section .packages_wrap{
        flex-wrap: wrap;
    }

    .package_section .packages_wrap .single_package{
        width: 100%;
        margin-bottom: 20px;
    }

    .package_section .feature_list{
        margin-top: 10px;
    }

    .package_section .feature_list li{
        font-size: 18px;
    }

    .package_section{
        padding: 40px 0;
    }

    .hospital_section{
        padding: 40px 0 100px;
    }

    .video_section{
        padding: 40px 0;
    }

    .warriors_section .warrior_wrap .single_warrior{
        margin-bottom: 20px;
    }
}
