
/* header css */
.start-header {
    box-shadow: 0 0px 20px 0 rgb(138 155 165 / 15%);
    background-color: #fff;
}
.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 10px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
	height: 24px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navigation-wrap{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar{
	padding: 0;
}
.navbar-brand{
    height: auto;
}
.navbar-brand img{
	height: 75px;
	transition : all 0.3s ease-out;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #212121 !important;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
	color: #eb5757 !important;
}
.nav-item.active .nav-link{
	color: #eb5757 !important;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #eb5757;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}

.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
	max-height: 0;
    display: block;
	padding: 0;
	margin: 0;
    transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
	max-height: 999px;
    transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
	padding: 10px!important;
	margin: 0;
	font-size: 13px;
	letter-spacing: 1px;
	color: #212121;
	background-color: #fcfaff;
	border: none;
	border-radius: 3px;
	box-shadow: 0px 5px 24px 0  rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
    border-radius: 5px !important;
    padding-top: 20px !important;
}
.dropdown-toggle::after {
	display: none;
}

.dropdown-item {
	padding: 3px 15px;
	color: #212121;
	border-radius: 2px;
    transition: all 200ms linear;
    background-color: transparent !important;
}
.dropdown-item:hover,
.dropdown-item:focus {
	color: #ff308b;
}


@media (min-width: 767px) {
    .hero-anime{
        height: 97px;
    }
    #navbarSupportedContent{
        display: flex !important;
        justify-content: flex-end !important;
    }
    .cancer-dropdown{
        flex-wrap: wrap;
        min-width: 100%;
        width: 850px;
        display: flex !important;
        left: -340px;
        background-color: #fff;
        margin-top: 32px !important;
    }
    .cancer-dropdown .dropdown-item{
        max-width: 207px;
        margin-bottom: 10px;
        padding-right: 0;
    }
}

@media (max-width: 767px) {
    .hero-anime{
        height: 97px;
    }
    .navbar::after,
    .navbar::before{
        display: none;
    }
    .nav-item{
        width: 100%;
        padding: 0 !important;
    }
	.nav-item:after{
		display: none;
	}
    .cancer-dropdown{
        display: flex !important;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .cancer-dropdown.show{
        max-height: 240px !important;
        overflow: scroll;
    }
    .cancer-dropdown .dropdown-item{
        width: 48%;
        padding: 5px 0;
        font-size: 12px;
        white-space: pre-wrap;
        position: relative;
        padding-left: 30px;
    }
    .cancer-dropdown .dropdown-item img{
        width: 24px;
        height: 24px;
        position: absolute;
        left: 0;
    }
	/* .nav-item-dopwdown::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
	}
	.dropdown-toggle::after {
		position: absolute;
		display: block;
		top: 10px;
		left: -14px;
		width: 1px;
		height: 11px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
		transition: all 200ms linear;
	} */
	.dropdown-toggle[aria-expanded="true"]::after{
		transform: rotate(90deg);
		opacity: 0;
	}
	.dropdown-menu {
		padding: 0 !important;
		background-color: transparent;
		box-shadow: none;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}
    .signup-btn-wrap{
        margin-top: 10px;
    }
}

.logo {
	position: absolute;
	bottom: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
  filter: brightness(10%);
	transition: all 250ms linear;
}

.signup-btn-wrap::after{
    display: none;
}

.signup-btn-wrap button{
    background-color: #51c185;
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    outline: none;
}

.signup-btn-wrap button:hover{
    background-color: #eb5757;
}
